{% extends 'base.twig' %}

{% block content %}
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                {{ function('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
            </div>
            <div class="page-header__title">
                <h1>{{ term.title }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block">
                    <div class="products-view">
                        <div class="products-view__list products-list" data-layout="grid-4-full" data-with-features="false">
                            <div class="products-list__body">
                                {% for item in prodej %}
                                    {% include "partial/prodej-card.twig" with {'item': item} %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="products-view__pagination">
                            <ul class="pagination justify-content-center">
                                {% if prodej.pagination.prev %}
                                    <li class="page-item {{prodej.pagination.prev.link|length ? '' : 'disabled'}}">
                                        <a href="{{prodej.pagination.prev.link}}" class="page-link page-link--with-arrow">Předchozí</a>
                                    </li>
                                {% endif %}
                                {% for page in prodej.pagination.pages %}
                                    {% if page.link %}
                                        <li class="page-item"><a class="page-link" href="{{page.link}}" class="{{page.class}}">{{page.title}}</a></li>
                                    {% else %}
                                        <li class="page-link active"><a href="#">{{page.title}} <span class="sr-only">(current)</span></a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if prodej.pagination.next %}
                                    <li class="page-item {{prodej.pagination.next.link|length ? '' : 'disabled'}}">
                                        <a href="{{prodej.pagination.next.link}}" class="page-link page-link--with-arrow">Další</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}