@charset "UTF-8";
.btn-primary {
  border-color: #215a99;
  background: #215a99;
  color: #fff; }

.btn-custom {
  border-color: #546069;
  background: #546069;
  color: #fff; }
  .btn-custom:hover {
    border-color: #242424;
    background: #242424;
    color: #fff; }

.mobile-header__panel {
  background: #215a99; }
.mobile-header__logo img {
  max-height: 40px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
.mobile-header__menu-button img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
.mobile-header__menu-button:hover {
  background: white; }
  .mobile-header__menu-button:hover img {
    filter: invert(56%) sepia(67%) saturate(2056%) hue-rotate(350deg) brightness(96%) contrast(91%); }
.mobile-header .indicator__button img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
.mobile-header .indicator__value {
  color: #215a99;
  background: #fff; }
.mobile-header .indicator--hover .indicator__area {
  background: white; }

.site-header__logo {
  width: auto; }
.site-header__phone--left {
  margin: 0 30px 0 0 !important;
  text-align: left !important; }

.search__button:hover img {
  filter: invert(56%) sepia(67%) saturate(2056%) hue-rotate(350deg) brightness(96%) contrast(91%); }
.search__input:focus ~ .search__border {
  box-shadow: 0 0 0 2px #215a99 inset; }

.nav-panel {
  background: #215a99; }
  .nav-panel__indicators {
    padding: 0 0 0 20px; }
  .nav-panel__row {
    justify-content: space-between; }

.nav-links__item--hover .nav-links__item-link {
  color: #fff; }
.nav-links__item-link {
  color: #fff; }

.totop__button {
  background: #215a99; }

.category-card__body {
  border: 2px solid transparent;
  color: #000;
  transition: 0.3s; }
  .category-card__body:hover {
    border-color: #215a99; }
.category-card__name {
  color: #000; }

.block-header {
  position: relative; }
  @media (max-width: 550px) {
    .block-header {
      justify-content: space-between; } }
  .block-header__title {
    font-size: 19px; }
    @media (min-width: 768px) {
      .block-header__title {
        font-size: 20px; } }
  @media (max-width: 550px) {
    .block-header__divider {
      display: none; } }
  .block-header__button {
    background: #215a99;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
    border-left: 10px solid #fff;
    transition: 0.2s; }
    @media (min-width: 768px) {
      .block-header__button {
        font-size: 12px;
        padding: 6px 10px; } }
    .block-header__button:hover {
      background: #546069;
      color: #fff; }

.products-list[data-layout="grid-3-sidebar"] .product-card__info {
  text-align: center !important; }

.products-list[data-layout="list"] .product-card__addtocart {
  display: block !important; }

.product-card {
  text-align: center;
  margin: 0 0 15px 0; }
  @media (min-width: 768px) {
    .product-card {
      margin: 0 0 30px 0; } }
  .product-card:hover {
    margin: 0 0 15px 0 !important; }
    @media (min-width: 768px) {
      .product-card:hover {
        margin: 0 0 30px 0 !important; } }
    .product-card:hover::before {
      -webkit-box-shadow: 0 0 0 2px #215a99 inset;
      box-shadow: 0 0 0 2px #215a99 inset; }
  .product-card__badge--novinka {
    background: #3377ff;
    color: #fff; }
  .product-card__badge--akce {
    background: #ff3333;
    color: #fff; }
  .product-card__image span {
    display: block;
    position: relative;
    height: 180px; }
    .product-card__image span img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto !important;
      max-width: 100%;
      max-height: 100%;
      transform: translate(-50%, -50%); }
  .product-card__info {
    text-align: left; }
  .product-card__name span {
    display: block;
    display: -webkit-box;
    height: 38px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: center;
    color: #215a99; }
    @media (max-width: 575px) {
      .product-card__name span {
        height: 57px;
        -webkit-line-clamp: 3; } }
    .product-card__name span:hover {
      color: #215a99;
      text-decoration: underline; }
  .product-card__availability {
    display: block !important;
    margin-top: 14px; }
  .product-card__prices {
    margin: 5px 0 0 0; }
  .product-card__price {
    font-size: 15px; }
    .product-card__price span {
      font-weight: normal; }
    .product-card__price strong {
      font-weight: bold; }
    .product-card__price:first-child {
      font-size: 16px;
      margin: 0 0 4px 0; }
      .product-card__price:first-child span {
        font-weight: bold; }
      .product-card__price:first-child strong {
        color: #d00000;
        font-size: 18px; }
  .product-card__buttons {
    display: block !important; }
    .product-card__buttons .btn {
      width: 100%;
      text-transform: uppercase;
      font-size: 12px !important; }

.page-item.active .page-link {
  background: #215a99;
  color: #fff; }

.page-link.active {
  background: #215a99;
  color: #fff; }
  .page-link.active a {
    color: #fff; }

.page-link--with-arrow {
  width: auto; }

.departments--open .departments__button:after {
  transform: translateY(-50%) rotate(180deg); }
.departments__body {
  background: #333; }
.departments__item--has-child a {
  position: relative; }
  .departments__item--has-child a:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    display: block;
    transition: 0.3s;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    opacity: 0.5;
    width: 8px;
    height: 8px;
    background: url(images/arrow-down.svg) no-repeat center center;
    background-size: contain;
    right: 15px; }
  .departments__item--has-child a:hover:after {
    opacity: 1; }
.departments__item--hover .departments__item-link {
  background: #444; }
.departments__type-caption {
  padding: 5px 16px 0 16px;
  font-weight: bold;
  color: #a5a5a5;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px; }
.departments__button {
  cursor: pointer; }
  .departments__button:before, .departments__button:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transition: 0.3s;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    opacity: 0.5; }
  .departments__button:before {
    width: 18px;
    height: 18px;
    background: url(images/menu.svg) no-repeat center center;
    background-size: contain;
    left: 15px; }
  .departments__button:after {
    width: 8px;
    height: 8px;
    background: url(images/arrow-down.svg) no-repeat center center;
    background-size: contain;
    right: 15px; }
  .departments__button:hover:before, .departments__button:hover:after {
    opacity: 1; }

.block-features__item {
  align-items: center;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  justify-content: center; }
  .block-features__item:hover {
    color: #215a99;
    background: #f0f0f0; }
.block-features__icon {
  width: auto;
  height: auto; }
  .block-features__icon img {
    filter: invert(56%) sepia(67%) saturate(2056%) hue-rotate(350deg) brightness(96%) contrast(91%); }
@media (max-width: 767px) {
  .block-features--layout--classic .block-features__item {
    width: 100%; }
  .block-features--layout--classic .block-features__divider:nth-child(2n) {
    width: 100%;
    height: 2px; } }
@media (max-width: 991px) and (min-width: 768px) {
  .block-features--layout--classic .block-features__item {
    width: calc(33.33% - 2px); } }
@media (max-width: 991px) and (min-width: 768px) {
  .block-features--layout--classic .block-features__divider:nth-child(4n) {
    width: 2px;
    height: auto; } }

@media (max-width: 575px) and (min-width: 420px) {
  .block-features--layout--classic .block-features__item {
    text-align: left;
    flex-direction: row; }
  .block-features--layout--classic .block-features__icon {
    margin-bottom: 0;
    margin-right: 24px !important;
    width: unset; } }
.site-footer__copyright {
  text-align: center;
  display: block;
  width: 100%;
  color: #666; }
  .site-footer__copyright a {
    color: #666; }

.widget-filters {
  padding-bottom: 0;
  border-bottom: none; }

.filter__title {
  position: relative; }
  .filter__title:after {
    content: "";
    width: 8px;
    height: 8px;
    background: url(images/arrow-down.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    right: 15px;
    opacity: 0.5; }
.filter--opened .filter__title:after {
  transform: translateY(-50%) rotate(180deg); }

.filters-button__counter {
  background: #215a99;
  color: #fff; }

.filter-price__title {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.noUi-connect {
  background: #215a99; }

.noUi-horizontal .noUi-handle:after {
  background: #215a99; }

.sidebar-contacts {
  padding: 0; }
  .sidebar-contacts__contacts {
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    margin: 0; }
    .sidebar-contacts__contacts li {
      padding: 4px 0;
      position: relative; }
  .sidebar-contacts__icon {
    margin-right: 2px; }

.breadcrumb-item a {
  position: relative; }
  .breadcrumb-item a:after {
    content: "";
    width: 8px;
    height: 8px;
    background: url(images/arrow-down.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    display: block;
    right: -17px;
    opacity: 0.4; }
  .breadcrumb-item a:hover {
    color: #215a99; }

.layout-switcher__button--active {
  border-color: #215a99;
  background: #215a99; }
  .layout-switcher__button--active img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
  .layout-switcher__button--active:hover {
    border-color: #215a99;
    background: #215a99; }
    .layout-switcher__button--active:hover img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }

.view-options__control {
  margin-left: auto !important; }
  @media (max-width: 475px) {
    .view-options__control {
      margin: 10px 0 0 0 !important;
      width: 100%; } }
  @media (max-width: 549px) {
    .view-options__control label {
      display: none; } }

.categories-view {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  @media (min-width: 550px) {
    .categories-view {
      width: calc(100% + 12px);
      margin: 0 -6px; } }
  .categories-view__item {
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0; }
    @media (min-width: 550px) {
      .categories-view__item {
        width: 50%;
        margin: 0 0 16px 0;
        padding: 0 6px; } }
    @media (min-width: 768px) {
      .categories-view__item {
        width: 33.33%; } }
    @media (min-width: 1200px) {
      .categories-view__item {
        width: 25%; } }

.category-view-link {
  border: 2px solid #f0f0f0;
  border-radius: 2px;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  min-height: 40px;
  transition: 0.3s;
  position: relative; }
  @media (min-width: 550px) {
    .category-view-link {
      min-height: 54px; } }
  .category-view-link__name {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: #333;
    transition: 0.3s; }
  .category-view-link:hover {
    border-color: #215a99; }
    .category-view-link:hover .category-view-link__name {
      color: #215a99; }
  .category-view-link--back {
    background: #215a99;
    border-color: #215a99;
    padding: 0 15px 0 50px; }
    .category-view-link--back:before {
      width: 18px;
      height: 18px;
      background: url(images/back-arrow.svg) no-repeat center center;
      background-size: contain;
      left: 15px;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      transition: 0.3s;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
      opacity: 0.7; }
    .category-view-link--back .category-view-link__name {
      color: #fff; }
    .category-view-link--back:hover {
      border-color: #546069;
      background: #546069; }
      .category-view-link--back:hover:before {
        opacity: 1; }
      .category-view-link--back:hover .category-view-link__name {
        color: #fff; }

.product__name {
  margin: 0 0 0 0; }
.product__code {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #888; }
.product__sidebar {
  margin: 10px 0;
  padding: 20px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  @media (max-width: 475px) {
    .product__sidebar {
      text-align: center;
      justify-content: center; } }
.product__prices {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  color: #3d464d;
  line-height: 1.1;
  padding: 0 20px 0 0; }
  @media (max-width: 475px) {
    .product__prices {
      width: 100%;
      padding: 0; } }
  .product__prices .original-price {
    text-decoration: line-through;
    font-style: italic;
    color: #666; }
  .product__prices .base-price {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.03em;
    color: #d00000;
    margin: 5px 0; }
  .product__prices .vatless-price {
    font-weight: 600;
    font-size: 15px; }
.product__price-info {
  width: 100%;
  padding: 0 0 1rem 0;
  font-style: italic; }
.product__option-label {
  display: none; }
.product__attachments {
  padding: 20px 0; }
.product__attachments-caption {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  color: #3d464d;
  line-height: 1.1;
  margin: 0 0 10px 0; }
.product__attachments-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .product__attachments-list li {
    margin: 0;
    padding: 0; }
  .product__attachments-list a {
    color: #3d464d;
    display: inline-block;
    position: relative;
    text-decoration: underline;
    transition: 0.3s; }
    .product__attachments-list a:hover {
      text-decoration: none;
      color: #215a99; }
    .product__attachments-list a.pdf {
      padding: 0 0 0 25px; }
      .product__attachments-list a.pdf:before {
        content: '';
        width: 16px;
        height: 16px;
        background: url(images/pdf.svg) no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%); }

.product-gallery__carousel-item--active {
  -webkit-box-shadow: 0 0 0 2px #215a99 inset;
  box-shadow: 0 0 0 2px #215a99 inset; }

.input-number {
  width: 70px;
  position: relative;
  border: 1px solid #cecece; }
  .input-number__input {
    background: #fff;
    border: none;
    min-width: 1px;
    max-width: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    height: 44px;
    outline: none !important; }
  .input-number__add, .input-number__sub {
    opacity: 1;
    position: absolute;
    right: 0 !important;
    width: 22px;
    height: 21px; }
    .input-number__add:hover, .input-number__sub:hover {
      background: #215a99;
      color: #fff; }
  .input-number__add {
    background: #e2e2e2;
    top: 0; }
  .input-number__sub {
    background: #e2e2e2;
    bottom: 0;
    left: unset !important;
    top: unset !important; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  box-shadow: none; }

.block-header__arrow--left img {
  transform: rotate(90deg); }
.block-header__arrow--right img {
  transform: rotate(-90deg); }
.block-header__arrow:focus, .block-header__arrow:hover {
  background: #215a99; }
  .block-header__arrow:focus img, .block-header__arrow:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }

.form-text.forgotten-pass {
  text-align: right; }
  .form-text.forgotten-pass a {
    color: #000;
    text-decoration: underline; }
    .form-text.forgotten-pass a:hover {
      text-decoration: none;
      color: #215a99; }

.input-check__input:checked ~ .input-check__box {
  background: #215a99;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset; }

.input-check__icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  left: 4px;
  top: 3px; }

.typography a {
  color: #215a99;
  text-decoration: underline; }
  .typography a:hover {
    text-decoration: none;
    color: #215a99; }
.typography ul {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0; }
  .typography ul li {
    margin: 0;
    padding: 0 0 0 15px;
    position: relative; }
    .typography ul li:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #215a99; }

.about-us__text .embed-responsive {
  margin: 0 0 25px 0; }
.about-us__text ul {
  text-align: left; }

.cta-region {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px 0;
  flex-direction: column; }
  @media (min-width: 768px) {
    .cta-region {
      flex-direction: row; } }
  .cta-region__controls {
    padding: 15px; }
    .cta-region__controls a {
      background: #215a99;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      padding: 7px 15px;
      text-decoration: none;
      border-left: 10px solid #fff;
      transition: 0.2s; }
      @media (min-width: 768px) {
        .cta-region__controls a {
          font-size: 15px;
          padding: 10px 30px; } }
      .cta-region__controls a:hover {
        background: #546069;
        color: #fff; }
  .cta-region__separator {
    font-style: italic; }
    @media (min-width: 768px) {
      .cta-region__separator {
        padding: 15px; } }
  .cta-region__call {
    padding: 15px 15px 15px 45px;
    font-weight: 500;
    font-size: 18px;
    position: relative; }
    .cta-region__call:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: url(images/phone.svg) no-repeat center center;
      background-size: contain;
      opacity: 0.5; }
    .cta-region__call a {
      text-decoration: none;
      color: #000;
      font-weight: bold; }

.typography .my-gallery figure {
  margin: 0 0 30px 0; }

.pswp__img {
  max-width: none;
  object-fit: contain; }
  .pswp__img--placeholder {
    opacity: 0; }

.contact-us__map {
  margin: 0; }
.contact-us__address a {
  color: #215a99;
  text-decoration: underline; }
  .contact-us__address a:hover {
    text-decoration: none;
    color: #215a99; }

.height100 {
  height: 100%; }

.block-slideshow .owl-carousel .owl-dot.active {
  background: #215a99; }

.product-tabs__item--active, .product-tabs__item--active:hover {
  cursor: default;
  border-bottom-color: #215a99;
  background: transparent; }

@media (max-width: 479px) {
  .products-list[data-layout="grid-3-sidebar"] .products-list__item {
    width: calc(50% - 12px);
    margin: 8px 6px; }

  .products-list[data-layout^="grid-"] .product-card .product-card__image {
    padding: 10px 10px 10px; }
  .products-list[data-layout^="grid-"] .product-card .product-card__info {
    padding: 0 10px 0; }
  .products-list[data-layout^="grid-"] .product-card .product-card__actions {
    padding: 0 10px 10px; } }
.block-products-carousel[data-layout="grid-4"] .product-card__buttons .btn {
  height: auto !important; }

@media (max-width: 575px) {
  .block-products-carousel__slider .row {
    margin-right: -6px;
    margin-left: -6px; }
    .block-products-carousel__slider .row > div {
      padding-right: 6px;
      padding-left: 6px; }

  .block-products-carousel[data-layout="grid-4"] .product-card .product-card__image {
    padding: 10px; }
  .block-products-carousel[data-layout="grid-4"] .product-card .product-card__info {
    padding: 0 10px 0; }
  .block-products-carousel[data-layout="grid-4"] .product-card .product-card__actions {
    padding: 0 10px 10px; } }
.mobile-links--level--0 li:nth-child(4) {
  display: none; }
.mobile-links--level--0 li:nth-child(5) {
  display: none; }

.main-breadcrumbs {
  font-size: 12px; }
  .main-breadcrumbs a {
    color: #666;
    text-decoration: underline; }
    .main-breadcrumbs a:hover {
      text-decoration: none;
      color: #000; }

.products-list[data-layout="grid-4-full"] .product-card .product-card__buttons .btn {
  height: auto !important; }

.form-popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); }
  .form-popup.open {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center; }
  .form-popup .form-wrapper {
    text-align: center;
    background: #fff;
    padding: 35px 35px 20px 35px;
    position: relative;
    z-index: 10;
    max-width: 650px;
    margin: 0 auto;
    max-height: calc(100vh - 30px);
    overflow-y: auto; }
    .form-popup .form-wrapper__title {
      font-size: 24px;
      margin: 0 0 20px 0;
      font-weight: bold; }
    .form-popup .form-wrapper p {
      margin: 0; }
    .form-popup .form-wrapper .popup-form-close {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 0;
      width: 24px;
      height: 24px; }
      .form-popup .form-wrapper .popup-form-close:before {
        content: '×';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #666;
        font-size: 45px; }
      .form-popup .form-wrapper .popup-form-close:hover:before {
        color: red; }
    .form-popup .form-wrapper .wpcf7-form-control-wrap {
      display: block;
      margin: 0 0 5px 0;
      position: relative; }
      .form-popup .form-wrapper .wpcf7-form-control-wrap input, .form-popup .form-wrapper .wpcf7-form-control-wrap textarea {
        background: #fff;
        border: 1px solid #ccc;
        color: #000;
        font-family: "Roboto", "sans-serif";
        font-size: 15px;
        padding: 10px; }
        .form-popup .form-wrapper .wpcf7-form-control-wrap input::-webkit-input-placeholder, .form-popup .form-wrapper .wpcf7-form-control-wrap textarea::-webkit-input-placeholder {
          color: #aaa; }
        .form-popup .form-wrapper .wpcf7-form-control-wrap input::-moz-placeholder, .form-popup .form-wrapper .wpcf7-form-control-wrap textarea::-moz-placeholder {
          color: #aaa; }
        .form-popup .form-wrapper .wpcf7-form-control-wrap input:-ms-input-placeholder, .form-popup .form-wrapper .wpcf7-form-control-wrap textarea:-ms-input-placeholder {
          color: #aaa; }
        .form-popup .form-wrapper .wpcf7-form-control-wrap input:-moz-placeholder, .form-popup .form-wrapper .wpcf7-form-control-wrap textarea:-moz-placeholder {
          color: #aaa; }
        .form-popup .form-wrapper .wpcf7-form-control-wrap input:focus, .form-popup .form-wrapper .wpcf7-form-control-wrap textarea:focus {
          background: #fff;
          color: #000; }
    .form-popup .form-wrapper .wpcf7-submit {
      display: block;
      border: none;
      width: 100%;
      text-align: center;
      text-decoration: none;
      border-color: #215a99;
      background: #215a99;
      color: #fff;
      font-size: 11px;
      padding: 12px 30px 10px 30px;
      line-height: 1.0;
      font-weight: bold;
      transition: 0.3s;
      text-transform: uppercase;
      margin: 0 0 -10px 0;
      cursor: pointer; }
      .form-popup .form-wrapper .wpcf7-submit:hover {
        background: #2a73c3;
        border-color: #2a73c3;
        color: #fff; }

.prodej-price-detail {
  font-size: 20px; }
  .prodej-price-detail .price-item__name {
    margin: 0 10px 0 0; }
  .prodej-price-detail .price-item__value {
    font-size: 24px;
    color: #d00000; }

@media (max-width: 500px) {
  .block-header__title {
    font-size: 17px; } }

@media (max-width: 767px) {
  .block-slideshow__slide-content {
    left: 5% !important; } }
.contact-us__container .wpcf7-form-control.wpcf7-submit {
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1rem;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  padding: .375rem 1.25rem;
  font-weight: 500;
  border-color: #215a99;
  background: #215a99;
  border: none;
  color: #fff;
  cursor: pointer; }
  .contact-us__container .wpcf7-form-control.wpcf7-submit:hover {
    border-color: #3d464d;
    background: #3d464d;
    color: #fff;
    fill: #fff; }

/*# sourceMappingURL=styles.css.map */
