{{ function('wp_footer') }}

<footer class="site__footer">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Kontaktujte nás</h5>
                            <ul class="footer-contacts__contacts">
                                <li><i class="footer-contacts__icon far fa-envelope"></i> <a href="mailto:{{ options.footer_email }}">{{ options.footer_email }}</a></li>
                                <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> {{ options.footer_phone }}</li>
                                <li><i class="footer-contacts__icon far fa-clock"></i> {{ options.footer_open }}<br><br></li>
                                <li>{{ options.footer_address }}</li>
                                <li>{{ options.footer_ic }}</li>
                                <li>{{ options.footer_dic }}</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-6">
                        <iframe style="border:none" src="https://frame.mapy.cz/s/punehetuve" width="100%" height="300" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__copyright">
                    <a href="http://danielbubak.cz/" target="_blank" rel="nofollow" title="Daniel Bubák - Výroba webových stránek a online marketing">© 2020, Daniel Bubák - Výroba webových stránek a online marketing</a>
                </div>
            </div>
        </div>
        <div class="totop totop--show">
            <div class="totop__body">
                <div class="totop__start"></div>
                <div class="totop__container container"></div>
                <div class="totop__end">
                    <button type="button" class="totop__button">
                        <img src="{{ theme.link }}/assets/naradi-assets/images/up-arrow.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>