<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{{ theme.link }}/assets/images/favicon.png">

    {{ function('wp_head') }}

    {% block head %}{% endblock %}
</head>