{% if menu %}
	{% for item in menu %}
		 <li class="mobile-links__item" data-collapse-item>
			<div class="mobile-links__item-title">
				<a href="{{ item.link }}" class="mobile-links__item-link">{{ item.title }}</a>
			</div>
		</li>
	{% endfor %}
{% endif %}
