{% if menu %}
	<ul class="nav-links__list">
		{% for item in menu %}
			<li class="nav-links__item {% if item.children %} nav-links__item--has-submenu {% endif %} {{ item.classes | join(' ') }}">
				<a class="nav-links__item-link" href="{{ item.link }}">
					<div class="nav-links__item-body">
						{{ item.title }}
					</div>
				</a>
				{% if item.children %}
					<div class="sub-menu">
						<ul>
							{% for child in item.children %}
								<li><a href="{{ child.link }}">{{ child.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
