
<div class="products-list__item">
	<a href="{{ item.link }}" class="product-card" title="{{ item.title }}">
		<div class="product-card__badges-list">
			{% for tag in item.meta('prodej_stitky') %}
				<div class="product-card__badge product-card__badge--{{ tag }}">{{ tag }}</div>
			{% endfor %}
		</div>
		<div class="product-card__image">
			<span><img src="{{ Image(item.meta('prodej_galerie')[0]) }}" alt="{{ item.title }}"></span>
		</div>
		<div class="product-card__info">
			<div class="product-card__name">
				<span>{{ item.title }}</span>
			</div>
		</div>
		<div class="product-card__actions">
			<div class="product-card__prices">
				<div class="product-card__price"><strong>{{ item.prodej_price }} Kč</strong></div>
			</div>
			<div class="product-card__buttons">
				<span class="btn btn-primary product-card__addtocart">Detail</span>
			</div>
		</div>
	</a>
</div>
