
<div class="products-list__item position-relative">
	<a href="{{ item.link }}" class="product-card" title="{{ item.title }}">
		<div class="product-card__badges-list">
			{% for tag in item.meta('pujcovna_stitky') %}
				<div class="product-card__badge product-card__badge--{{ tag }}">{{ tag }}</div>
			{% endfor %}
		</div>
		<div class="product-card__image">
			<span><img src="{{ Image(item.meta('pujcovna_galerie')[0]) }}" alt="{{ item.title }}"></span>
		</div>
		<div class="product-card__info">
			<div class="product-card__name">
				<span>{{ item.title }}</span>
			</div>
		</div>
		<div class="product-card__actions">
			<div class="product-card__prices">
				{% for price in item.meta('pujcovna_list_prices') %}
					<div class="product-card__price">
						<span>{{ price.pujcovna_list_prices_prefix }}</span>
						<strong>{{ price.pujcovna_list_prices_price }} {{ price.pujcovna_list_prices_sufix }}</strong>
					</div>
				{% endfor %}
			</div>
			<div class="product-card__buttons">
				<span class="btn btn-primary product-card__addtocart">Detail</span>
			</div>
		</div>
	</a>
</div>
