{% extends "base.twig" %}

{% block content %}
	<div class="site__body">
		<div class="block">
			<div class="container">
				<div class="not-found">
					<div class="not-found__404">
						Chyba 404
					</div>
					<div class="not-found__content">
						<h1 class="not-found__title">Stránka nebyla nalezena</h1>
						<p class="not-found__text">
							Je nám líto, ale požadovaná stránka nebyla nalezena.<br><br>
							Ujistěte se, že jste neudělali chybu v URL adrese.<br>
							Je možné, že byla stránka přemístěna nebo odstraněna.
						</p>
						<a class="btn btn-secondary btn-sm" href="{{ site.link }}">Přejít na úvod</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}