<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->

{% include 'partial/head.twig' %}

<body dir="ltr">

<!-- quickview-modal -->
<div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content"></div>
    </div>
</div>
<!-- quickview-modal / end -->

 <!-- mobilemenu -->
<div class="mobilemenu">
    <div class="mobilemenu__backdrop"></div>
    <div class="mobilemenu__body">
        <div class="mobilemenu__header">
            <div class="mobilemenu__title">Menu</div>
            <button type="button" class="mobilemenu__close">
                <img src="{{ theme.link }}/assets/naradi-assets/images/close.svg" alt="Zavřít" />
            </button>
        </div>
        <div class="mobilemenu__content">
            <ul class="mobile-links mobile-links--level--0" data-collapse data-collapse-opened-class="mobile-links__item--open">
                <li class="mobile-links__item" data-collapse-item="">
                    <div class="mobile-links__item-title">
                        <a href="{{ site.link }}/prodej" class="mobile-links__item-link">Prodej</a>
                        <button class="mobile-links__item-toggle" type="button" data-collapse-trigger="">
                            <img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt="Rozbalit">
                        </button>
                    </div>
                    <div class="mobile-links__item-sub-links" data-collapse-content="">
                        <ul class="mobile-links mobile-links--level--1">
                            {% for category in prodejCategories %}
                                {% if category.count >= 1 %}
                                    <li class="mobile-links__item">
                                        <div class="mobile-links__item-title">
                                            <a href="{{category.link}}" class="mobile-links__item-link">{{ category.title }}</a>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="mobile-links__item" data-collapse-item="">
                    <div class="mobile-links__item-title">
                        <a href="{{ site.link }}/pujcovna" class="mobile-links__item-link">Půjčovna</a>
                        <button class="mobile-links__item-toggle" type="button" data-collapse-trigger="">
                            <img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt="Rozbalit">
                        </button>
                    </div>
                    <div class="mobile-links__item-sub-links" data-collapse-content="">
                        <ul class="mobile-links mobile-links--level--1">
                            {% for category in pujcovnaCategories %}
                                {% if category.count >= 1 %}
                                    <li class="mobile-links__item">
                                        <div class="mobile-links__item-title">
                                            <a href="{{category.link}}" class="mobile-links__item-link">{{ category.title }}</a>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% include "partial/menu-mobile.twig" with {'menu': menu.get_items} %}
            </ul>
        </div>
    </div>
</div>
<!-- mobilemenu / end -->

<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <header class="site__header d-lg-none">
        <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
        <div class="mobile-header mobile-header--sticky" data-sticky-mode="pullToShow">
            <div class="mobile-header__panel">
                <div class="container">
                    <div class="mobile-header__body">
                        <button class="mobile-header__menu-button">
                            <img src="{{ theme.link }}/assets/naradi-assets/images/menu.svg" alt="menu" />
                        </button>
                        <a class="mobile-header__logo" href="{{ site.link }}">
                            <img src="{{ theme.link }}/assets/naradi-assets/images/logo.svg" alt="Nářadí Schmidt" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- mobile site__header / end -->
    <!-- desktop site__header -->
    <header class="site__header d-lg-block d-none">
        <div class="site-header">
            <div class="site-header__middle container">
                <div class="site-header__logo">
                    <a href="{{ site.link }}">
                        <img src="{{ theme.link }}/assets/naradi-assets/images/logo.svg" alt="Nářadí Schmidt" />
                    </a>
                </div>
            </div>
            <div class="site-header__nav-panel">
                <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
                <div class="nav-panel nav-panel--sticky" data-sticky-mode="pullToShow">
                    <div class="nav-panel__container container">
                        <div class="nav-panel__row">
                            <div class="nav-panel__departments">
                                <!-- .departments -->
                                <div class="departments" data-departments-fixed-by=".block-slideshow">
                                    <div class="departments__body">
                                        <div class="departments__links-wrapper">
                                            <div class="departments__submenus-container"></div>
                                            <ul class="departments__links">
                                                <li>
                                                    <div class="departments__type-caption">Prodej</div>
                                                </li>
                                                {% for category in prodejCategories %}
                                                    {% if category.count >= 1 %}
                                                        <li class="departments__item">
                                                            <a class="departments__item-link" href="{{category.link}}">
                                                                {{ category.title }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                <li>
                                                    <div class="departments__type-caption">Půjčovna</div>
                                                </li>
                                                {% for category in pujcovnaCategories %}
                                                    {% if category.count >= 1 %}
                                                        <li class="departments__item">
                                                            <a class="departments__item-link" href="{{category.link}}">
                                                                {{ category.title }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                    <button class="departments__button">Naše nabídka</button>
                                </div>
                                <!-- .departments / end -->
                            </div>
                            <!-- .nav-links -->
                            <div class="nav-panel__nav-links nav-links">
                                {% include "partial/menu.twig" with {'menu': menu.get_items} %}
                            </div>
                            <!-- .nav-links / end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- desktop site__header / end -->

    {% block content %}{% endblock %}    

    {% include 'partial/footer.twig' %}

<!-- site / end -->
<!-- photoswipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <!--<button class="pswp__button pswp__button&#45;&#45;share" title="Share"></button>-->
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!-- photoswipe / end -->
</body>
</html>