{% extends "base.twig" %}

{% block content %}

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__title pt-4">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="card mb-0 contact-us">
                <div class="card-body">
                    <div class="contact-us__container">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                                <h4 class="contact-us__header card-title">Nářadí Schmidt</h4>
                                <div class="contact-us__address">
                                    {{ post.contact_info|wpautop }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h4 class="contact-us__header card-title">Napište nám</h4>
                                {% filter shortcodes %}
                                    [contact-form-7 id="5" title="Contact form"]
                                {% endfilter %}
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-us__map">
                    <iframe style="border:none" src="https://frame.mapy.cz/s/punehetuve" width="100%" height="300" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}