{% extends 'base.twig' %}

{% block content %}
<div class="site__body">

    <div class="block-slideshow block-slideshow--layout--with-departments block">
        <div class="container">
 
            <div class="block-slideshow__body">
                <div class="owl-carousel owl-loaded owl-drag">

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1680px, 0px, 0px); transition: all 0s ease 0s; width: 5880px;">

                            {% for slider in post.meta('homepage_slider') %}
                                <div class="owl-item cloned" style="width: 1100px;">
                                    <a class="block-slideshow__slide" href="{{slider.slider_link.url}}">
                                        <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{{ theme.link }}/assets/images/slides/slide-1-full.jpg')"></div>
                                        <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{{ theme.link }}/assets/images/slides/slide-1-mobile.jpg')"></div>
                                        <div class="block-slideshow__slide-content">
                                            <div class="block-slideshow__slide-title">{{slider.slider_title}}</div>
                                            <div class="block-slideshow__slide-text">{{slider.slider_text}}</div>
                                            <div class="block-slideshow__slide-button">
                                                <span class="btn btn-primary btn-lg">{{slider.slider_button}}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}                    
                            
                        </div>
                    </div>

                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
                        <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                    </div>
                    <div class="owl-dots">
                        {% for item in post.meta('homepage_slider') %}
                            <button role="button" class="owl-dot"><span></span></button>
                        {% endfor %}   
                    </div>
             
                </div>        
            </div>
    
        </div>
    </div>

    <div class="block block--highlighted block-categories block-categories--layout--classic">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Půjčovna nářadí</h3>
                <div class="block-header__divider"></div>
            </div>
            <div class="block-categories__list">
                {% for category in pujcovnaCategories %}
                    {% if category.count >= 1 %}
                        <div class="block-categories__item category-card category-card--layout--classic">
                            <a href="{{category.link}}" class="category-card__body" title="{{ item.title }}">
                                <div class="category-card__image">
                                    <img src="{{ Image(category.cat_ikona) }}" alt="{{ item.title }}" style="max-height:50px" />
                                </div>
                                <div class="category-card__content justify-content-center">
                                    <div class="category-card__name">
                                        {{ category.title }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- .block-products-carousel -->
    <div class="block block-products-carousel" data-layout="grid-4">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Nejprodávanější z půjčovny</h3>
                <div class="block-header__divider"></div>
                <div class="block-header__arrows-list">
                    <button class="block-header__arrow block-header__arrow--left" type="button"><img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt=""></button>
                    <button class="block-header__arrow block-header__arrow--right" type="button"><img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt=""></button>
                </div>
            </div>
            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel">
                    {% for item in Post(bestseller_pujcovna) %}
                        {% include "partial/pujcovna-carousel-card.twig" with {'item': item} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- .block-products-carousel / end -->

    <div class="block block-banner">
        <div class="container">
            <a href="{{ post.meta('homepage_banner').banner_link.url }}" class="block-banner__body">
                <div class="block-banner__image block-banner__image--desktop" style="background-image: url('{{ post.meta('homepage_banner').banner_image.url }}')"></div>
                <div class="block-banner__image block-banner__image--mobile" style="background-image: url('{{ post.meta('homepage_banner').banner_mobile_image.url }}')"></div>
                <div class="block-banner__title">{{ post.meta('homepage_banner').banner_title }}</div>
                <div class="block-banner__text">{{ post.meta('homepage_banner').banner_text }}</div>
                <div class="block-banner__button">
                    <span class="btn btn-sm btn-primary">{{ post.meta('homepage_banner').banner_button }}</span>
                </div>
            </a>
        </div>
    </div>

    <div class="block block--highlighted block-categories block-categories--layout--classic">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Prodej nářadí</h3>
                <div class="block-header__divider"></div>
            </div>
            <div class="block-categories__list">
                {% for category in prodejCategories %}
                    {% if category.count >= 1 %}
                        <div class="block-categories__item category-card category-card--layout--classic">
                            <a href="{{category.link}}" class="category-card__body" title="{{ item.title }}">
                                <div class="category-card__image">
                                    <img src="{{ Image(category.cat_ikona) }}" alt="{{ item.title }}" style="max-height:50px" />
                                </div>
                                <div class="category-card__content justify-content-center">
                                    <div class="category-card__name">
                                        {{ category.title }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- .block-products-carousel -->
    <div class="block block-products-carousel" data-layout="grid-4">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Nejprodávanější z prodeje</h3>
                <div class="block-header__divider"></div>
                <div class="block-header__arrows-list">
                    <button class="block-header__arrow block-header__arrow--left" type="button"><img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt=""></button>
                    <button class="block-header__arrow block-header__arrow--right" type="button"><img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt=""></button>
                </div>
            </div>
            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel">
                    {% for item in Post(bestseller_prodej) %}
                        {% include "partial/prodej-carousel-card.twig" with {'item': item} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- .block-products-carousel / end -->

</div>


{% endblock %}