{% extends "base.twig" %}

{% block content %}

<div class="site__body">
    <div class="block about-us">
        <div class="about-us__image" style="background-image: url(https://via.placeholder.com/1920x500);"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <div class="about-us__body">
                        <h1 class="about-us__title">{{ post.title }}</h1>
                        <div class="about-us__text typography">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacus metus, convallis ut leo nec, tincidunt
                                eleifend justo. Ut felis orci, hendrerit a pulvinar et, gravida ac lorem. Sed vitae molestie sapien, at
                                sollicitudin tortor.
                            </p>
                            <p>
                                Duis id volutpat libero, id vestibulum purus.Donec euismod accumsan felis,egestas lobortis velit tempor vitae.
                                Integer eget velit fermentum, dignissim odio non, bibendum velit.
                            </p>

                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet,</li>
                                        <li>Donec facilisis neque ut purus fermentum,</li>
                                        <li>In feugiat ante vitae ultricies malesuada.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet,</li>
                                        <li>Donec facilisis neque ut purus fermentum,</li>
                                        <li>In feugiat ante vitae ultricies malesuada.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="cta-region">
                                <div class="cta-region__controls">
                                    <a href="info@naradischmidt.cz">Napište nám</a>
                                </div>
                                <div class="cta-region__separator">nebo</div>
                                <div class="cta-region__call">
                                    Volejte <a href="#">606 002 003</a>
                                </div>
                            </div>


                            <div class="my-gallery row" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">

                                <figure class="col-6 col-md-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <a href="https://via.placeholder.com/1920x500" itemprop="contentUrl" data-size="1920x800">
                                        <img src="https://via.placeholder.com/400x300" itemprop="thumbnail" alt="Image description">
                                    </a>                                                                         
                                </figure>

                                <figure class="col-6 col-md-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <a href="https://via.placeholder.com/800x600" itemprop="contentUrl" data-size="1920x800">
                                        <img src="https://via.placeholder.com/400x300" itemprop="thumbnail" alt="Image description">
                                    </a>                                                                         
                                </figure>

                                <figure class="col-6 col-md-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <a href="https://via.placeholder.com/500x600" itemprop="contentUrl" data-size="1920x800">
                                        <img src="https://via.placeholder.com/400x300" itemprop="thumbnail" alt="Image description">
                                    </a>                                                                         
                                </figure>

                                <figure class="col-6 col-md-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <a href="https://via.placeholder.com/200x500" itemprop="contentUrl" data-size="1920x800">
                                        <img src="https://via.placeholder.com/400x300" itemprop="thumbnail" alt="Image description">
                                    </a>                                                                         
                                </figure>

                            </div>


                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}