{% extends "base.twig" %}

{% block content %}

<div class="form-popup">
	<div class="form-wrapper">
		<a class="popup-form-close form-toggler" href="#">Zavřít</a>
		<div class="form-wrapper__title">Objednávkový formulář</div>
		{% filter shortcodes %}
			[contact-form-7 id="114" title="Objednávka"]
		{% endfilter %}
	</div>
</div>

<div class="site__body">

	<div class="page-header">
		<div class="page-header__container container">
			<div class="page-header__breadcrumb">			
				{{ function('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
			</div>
		</div>
	</div>

	<div class="block">
		<div class="container">
			<div class="product product--layout--standard" data-layout="standard">
				<div class="product__content">
					<!-- .product__gallery -->
					<div class="product__gallery">
						<div class="product-gallery">
							<div class="product-gallery__featured">
								<div class="owl-carousel" id="product-image">
									{% for image in post.meta('pujcovna_galerie') %}
										<a href="{{ Image(image).src }}" target="_blank">
											<img src="{{ Image(image).src }}" alt="{{ post.title }}" />
										</a>
									{% endfor %}
								</div>
							</div>
							<div class="product-gallery__carousel">
								<div class="owl-carousel" id="product-carousel">
									{% for image in post.meta('pujcovna_galerie') %}
										<a href="{{ Image(image).src }}" class="product-gallery__carousel-item">
											<img class="product-gallery__carousel-image" src="{{ Image(image).src }}" alt="{{ post.title }}" />
										</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<!-- .product__gallery / end -->
					<!-- .product__info -->
					<div class="product__info">
						<h1 class="product__name mb-3">{{ post.title }}</h1>
						<div class="product__description">
							{{ post.pujcovna_popis|wpautop }}
						</div>
					</div>
					<!-- .product__info / end -->
					<!-- .product__sidebar -->
					<div class="product__sidebar">
						<div class="product__prices w-100 p-0">
							{% for item in post.meta('pujcovna_prices') %}
								<div class="price-item d-flex w-100 justify-content-between py-1">
									<div class="price-item__name">{{ item.pujcovna_prices_text }}</div>
									<div class="price-item__value">{{ item.pujcovna_prices_price }} Kč</div>
								</div>
							{% endfor %}
						</div>
						{% if  post.pujcovna_prices_info %}
							<div class="product__price-info">{{ post.pujcovna_prices_info }}</div>
						{% endif %}   
						<button class="btn btn-primary btn-lg form-toggler">Objednat</button>
					</div>
					<!-- .product__end -->
				</div>
			</div>

			{% if (post.pujcovna_detailni_popis) or (post.meta('pujcovna_specifikace_produktu')) or (post.pujcovna_podminky_pouziti) %}
			<div class="product-tabs ">
				<div class="product-tabs__list">
					{% if (post.pujcovna_detailni_popis) or (post.meta('pujcovna_specifikace_produktu')) %}
                    	<a href="#tab-specification" class="product-tabs__item product-tabs__item--active">Specifikace produktu</a>
                	{% endif %}    
					{% if post.pujcovna_podminky_pouziti %}
						<a href="#tab-terms" class="product-tabs__item">Podmínky použití</a>
					{% endif %}    
				</div>
				<div class="product-tabs__content">
					{% if (post.pujcovna_detailni_popis) or (post.meta('pujcovna_specifikace_produktu')) %}
                    	<div class="product-tabs__pane product-tabs__pane--active" id="tab-specification">
							<div class="typography mb-3">
								{{ post.pujcovna_detailni_popis|wpautop }}
							</div>
							<div class="spec">
								<div class="spec__section">
									{% for item in post.meta('pujcovna_specifikace_produktu') %}
										<div class="spec__row">
											<div class="spec__name">{{ item.pujcovna_specifikace_polozka }}</div>
											<div class="spec__value">{{ item.pujcovna_specifikace_hodnota }}</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
                	{% endif %}    
					{% if post.pujcovna_podminky_pouziti %}
						<div class="product-tabs__pane" id="tab-terms">
							<div class="typography">
								{{ post.pujcovna_podminky_pouziti|wpautop }}
							</div>
						</div>
					{% endif %}    
				</div>
			</div>
			{% endif %}    
		</div>
	</div>

	<!-- .block-products-carousel -->
    <div class="block block-products-carousel" data-layout="grid-4">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Nejprodávanější z půjčovny</h3>
                <div class="block-header__divider"></div>
                <div class="block-header__arrows-list">
                    <button class="block-header__arrow block-header__arrow--left" type="button"><img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt=""></button>
                    <button class="block-header__arrow block-header__arrow--right" type="button"><img src="{{ theme.link }}/assets/naradi-assets/images/arrow-down.svg" alt=""></button>
                </div>
            </div>
            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel">
                    {% for item in Post(bestseller_pujcovna) %}
                        {% include "partial/pujcovna-carousel-card.twig" with {'item': item} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- .block-products-carousel / end -->

</div>
{% endblock %}
